.correct,
.correct:disabled  {
    background-color: green;
}

.wrong,
.wrong:disabled {
    background-color: red;
}

.card {
    margin-bottom: 10px;
    margin-right: 10px;
    width: 330px;
}

#pastAnswer {
    display: flex;
    flex-wrap: wrap;
}

.cardCorrect {
    background-color: #00800061;
}

.cardWrong {
    background-color: #80000061;
}

.container {
    padding: 0px;
}